In [1]:
import pandas as pd
import xmltodict
input_path = './data/apple_health_export/export.xml'

with open(input_path, 'r') as xml_file:
    input_data = xmltodict.parse(xml_file.read())

In [2]:
records_list = input_data['HealthData']['Record']

In [3]:
df = pd.DataFrame(records_list)

In [4]:
df.columns

Index(['@type', '@sourceName', '@sourceVersion', '@unit', '@creationDate',
       '@startDate', '@endDate', '@value', 'MetadataEntry', '@device',
       'HeartRateVariabilityMetadataList'],
      dtype='object')

In [5]:
df['@type'].unique()

array(['HKQuantityTypeIdentifierHeight',
       'HKQuantityTypeIdentifierBodyMass',
       'HKQuantityTypeIdentifierHeartRate',
       'HKQuantityTypeIdentifierStepCount',
       'HKQuantityTypeIdentifierDistanceWalkingRunning',
       'HKQuantityTypeIdentifierBasalEnergyBurned',
       'HKQuantityTypeIdentifierActiveEnergyBurned',
       'HKQuantityTypeIdentifierFlightsClimbed',
       'HKQuantityTypeIdentifierAppleExerciseTime',
       'HKQuantityTypeIdentifierDistanceCycling',
       'HKQuantityTypeIdentifierRestingHeartRate',
       'HKQuantityTypeIdentifierWalkingHeartRateAverage',
       'HKQuantityTypeIdentifierEnvironmentalAudioExposure',
       'HKQuantityTypeIdentifierHeadphoneAudioExposure',
       'HKQuantityTypeIdentifierWalkingDoubleSupportPercentage',
       'HKQuantityTypeIdentifierAppleStandTime',
       'HKQuantityTypeIdentifierWalkingSpeed',
       'HKQuantityTypeIdentifierWalkingStepLength',
       'HKQuantityTypeIdentifierWalkingAsymmetryPercentage',
       'HKQuantityTypeIdentifierStairAscentSpeed',
       'HKQuantityTypeIdentifierStairDescentSpeed',
       'HKDataTypeSleepDurationGoal',
       'HKCategoryTypeIdentifierSleepAnalysis',
       'HKCategoryTypeIdentifierAppleStandHour',
       'HKQuantityTypeIdentifierHeartRateVariabilitySDNN'], dtype=object)

In [38]:
calories_combined = df[(df['@type'] == 'HKQuantityTypeIdentifierBasalEnergyBurned') | (df['@type'] == 'HKQuantityTypeIdentifierActiveEnergyBurned')]
format = '%Y-%m-%d %H:%M:%S %z'
df['@creationDate'] = pd.to_datetime(df['@creationDate'],
                                     format=format)
df['@startDate'] = pd.to_datetime(df['@startDate'],
                                  format=format)
df['@endDate'] = pd.to_datetime(df['@endDate'],
                                format=format)
df['@creationDateOnly'] = df['@creationDate'].dt.date

In [39]:
calories_basal = df[(df['@type'] == 'HKQuantityTypeIdentifierBasalEnergyBurned')]
format = '%Y-%m-%d %H:%M:%S %z'
df['@creationDate'] = pd.to_datetime(df['@creationDate'],
                                     format=format)
df['@startDate'] = pd.to_datetime(df['@startDate'],
                                  format=format)
df['@endDate'] = pd.to_datetime(df['@endDate'],
                                format=format)
df['@creationDateOnly'] = df['@creationDate'].dt.date

In [40]:
calories_active = df[(df['@type'] == 'HKQuantityTypeIdentifierActiveEnergyBurned')]
format = '%Y-%m-%d %H:%M:%S %z'
df['@creationDate'] = pd.to_datetime(df['@creationDate'],
                                     format=format)
df['@startDate'] = pd.to_datetime(df['@startDate'],
                                  format=format)
df['@endDate'] = pd.to_datetime(df['@endDate'],
                                format=format)
df['@creationDateOnly'] = df['@creationDate'].dt.date

In [41]:
calories_combined.loc[:, '@value'] = pd.to_numeric(
    calories_combined.loc[:, '@value'])
calories_basal.loc[:, '@value'] = pd.to_numeric(
    calories_basal.loc[:, '@value'])
calories_active.loc[:, '@value'] = pd.to_numeric(
    calories_active.loc[:, '@value'])

In [42]:
#calories_combined.dtypes
#calories_basal.dtypes
#calories_active.dtypes

@type                                                               object
@sourceName                                                         object
@sourceVersion                                                      object
@unit                                                               object
@creationDate                       datetime64[ns, pytz.FixedOffset(-240)]
@startDate                          datetime64[ns, pytz.FixedOffset(-240)]
@endDate                            datetime64[ns, pytz.FixedOffset(-240)]
@value                                                             float64
MetadataEntry                                                       object
@device                                                             object
HeartRateVariabilityMetadataList                                    object
@creationDateOnly                                                   object
dtype: object

In [43]:
#calories_combined.columns
#calories_basal.columns
#calories_active.columns

In [44]:
#calories['@sourceName'].unique()

In [45]:
calories_combined_by_creation = calories_combined.groupby('@creationDate').sum()
calories_basal_by_creation = calories_basal.groupby('@creationDate').sum()
calories_active_by_creation = calories_active.groupby('@creationDate').sum()

In [46]:
#calories_mean_by_creation = calories.groupby('@creationDateOnly').mean()
#calories_sum_by_creation = calories.groupby('@creationDateOnly').sum()

In [47]:
#calories_counts = calories_sum_by_creation.divide(calories_mean_by_creation)
#calories_counts

In [48]:
calories_combined_per_day = calories_combined_by_creation.resample('d').sum()
calories_combined_per_day

                             @value
@creationDate
2020-02-13 00:00:00-04:00   111.338
2020-02-14 00:00:00-04:00  2162.724
2020-02-15 00:00:00-04:00  1946.775
2020-02-16 00:00:00-04:00  2178.575
2020-02-17 00:00:00-04:00  2188.556
...                             ...
2020-09-27 00:00:00-04:00  1902.127
2020-09-28 00:00:00-04:00  4131.958
2020-09-29 00:00:00-04:00  2763.664
2020-09-30 00:00:00-04:00  1885.738
2020-10-01 00:00:00-04:00  3254.486

[232 rows x 1 columns]

In [49]:
calories_basal_per_day = calories_basal_by_creation.resample('d').sum()
calories_basal_per_day

                             @value
@creationDate
2020-02-13 00:00:00-04:00   100.779
2020-02-14 00:00:00-04:00  1650.436
2020-02-15 00:00:00-04:00  1694.507
2020-02-16 00:00:00-04:00  1698.928
2020-02-17 00:00:00-04:00  1672.763
...                             ...
2020-09-27 00:00:00-04:00  1678.241
2020-09-28 00:00:00-04:00  1844.789
2020-09-29 00:00:00-04:00  1783.994
2020-09-30 00:00:00-04:00  1679.128
2020-10-01 00:00:00-04:00  1639.810

[232 rows x 1 columns]

In [50]:
calories_active_per_day = calories_active_by_creation.resample('d').sum()
calories_active_per_day

                             @value
@creationDate
2020-02-13 00:00:00-04:00    10.559
2020-02-14 00:00:00-04:00   512.288
2020-02-15 00:00:00-04:00   252.268
2020-02-16 00:00:00-04:00   479.647
2020-02-17 00:00:00-04:00   515.793
...                             ...
2020-09-27 00:00:00-04:00   223.886
2020-09-28 00:00:00-04:00  2287.169
2020-09-29 00:00:00-04:00   979.670
2020-09-30 00:00:00-04:00   206.610
2020-10-01 00:00:00-04:00  1614.676

[232 rows x 1 columns]